:root {
    --light-grey: #ededed;
    --dark-grey: #777777;
    --gunmetal-grey: #444444;
    --blue: #0011bb;
    --purple: #6600cc;
}

html {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--light-grey);
}

.site-logo {
    max-width: 60px;
}

.header-title {
    color: var(--dark-grey);
    font-weight: 700;
}

.earthquake-list {
    width: 100%;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.heading {
    text-align: center;
}

.earthquake-detail-table {
    width: 70%;
    margin: 0 auto;
}

.earthquake-detail-table th {
    font-weight: 700;
    text-align: left;
}

.earthquake-detail-table td {
    color: var(--dark-grey);
    font-weight: 700;
    text-align: left;
}

th {
    font-weight: 400;
    cursor: pointer;
}

td {
    font-weight: 700;
}

td:nth-of-type(2) {
    text-align: center;
}

td:nth-of-type(3) {
    text-align: center;
}

.asc:after {
    content: " \25B2";
}

.desc:after {
    content: " \25BC";
}

.profile-image {
    max-width: 200px;
    max-height: 200px;
}

.profile-data {
    display: flex;
    max-width: 800px;
    justify-content: space-evenly;
    margin: auto;
}

.profile-data table {
    width: 50%;
}

.profile-table th {
    width: 30%;
    font-weight: 700;
    text-align: left;
    vertical-align: baseline;
}

.profile-table tr {
    line-height: 1.5;
}

.profile-table td {
    font-weight: 700;
    color: var(--dark-grey);
    text-align: left;
}
