@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
    --light-grey: #ededed;
    --dark-grey: #777777;
    --gunmetal-grey: #444444;
    --blue: #0011bb;
    --purple: #6600cc;
}

html {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--light-grey);
}

.site-logo {
    max-width: 70px;
}

.header-title {
    color: var(--dark-grey);
    font-weight: 700;
}

.earthquake-list {
    width: 100%;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.earthquake-title {
    text-align: center;
}

th {
    font-weight: 400;
}

td {
    font-weight: 700;
}

td:nth-of-type(2) {
    text-align: center;
}

td:nth-of-type(3) {
    text-align: center;
}
